# Ìã∞Ïñ¥ Î≥Ñ Î∂ÑÏÑù

In [ ]:
import pandas as pd
import os
from collections import defaultdict

# ===============================
# 0. ÏÑ§Ï†ï
# ===============================
BASE_PATH = "../../data/processed"

TIERS = [
    "IRON_I", "IRON_II", "IRON_III", "IRON_IV",
    "BRONZE_I", "BRONZE_II", "BRONZE_III", "BRONZE_IV",
    "SILVER_I", "SILVER_II", "SILVER_III", "SILVER_IV",
    "GOLD_I", "GOLD_II", "GOLD_III", "GOLD_IV",
    "PLATINUM_I", "PLATINUM_II", "PLATINUM_III", "PLATINUM_IV",
    "EMERALD_I", "EMERALD_II", "EMERALD_III", "EMERALD_IV",
    "DIAMOND_I", "DIAMOND_II", "DIAMOND_III", "DIAMOND_IV",
    "MASTER", "GRANDMASTER", "CHALLENGER"
]

# üî• goldDiff Ìè¨Ìï®
METRICS = {
    "goldDiff": 500,          # Í≥®ÎìúÎäî 500 Îã®ÏúÑ
    "totalKillDiff": 1,
    "dragonDiff": 1,
    "elderDiff": 1,
    "heraldDiff": 1,
    "baronDiff": 1,
    "atakhanDiff": 1,
    "grubDiff": 1,
    "outerTowerDiff": 1,
    "innerTowerDiff": 1,
    "baseTowerDiff": 1,
}

MIN_SAMPLES = 50


# ===============================
# 1. ÎåÄÎ∂ÑÎ•ò Ìã∞Ïñ¥ Î≥ÄÌôò
# ===============================
def get_major_tier(tier_name: str) -> str:
    if "_" in tier_name:
        return tier_name.split("_")[0]
    return tier_name


# ===============================
# 2. diff ‚Üí ÏäπÎ•† Î∂ÑÏÑù Ìï®Ïàò
# ===============================
def analyze_metric(df, tier, metric, bin_size):
    temp = df.copy()
    temp["diff_bin"] = (temp[metric] // bin_size) * bin_size

    res = (
        temp
        .groupby("diff_bin")["win"]
        .agg(["mean", "count"])
        .reset_index()
        .rename(columns={
            "mean": "win_rate",
            "count": "num_samples"
        })
    )

    res = res[res["num_samples"] >= MIN_SAMPLES]

    res["tier"] = tier
    res["metric"] = metric

    return res[["tier", "metric", "diff_bin", "win_rate", "num_samples"]]


# ===============================
# 3. ÎåÄÎ∂ÑÎ•ò Ìã∞Ïñ¥Î≥Ñ long_df ÎàÑÏ†Å
# ===============================
tier_long_dfs = defaultdict(list)

for tier in TIERS:
    timeline_path = f"{BASE_PATH}/{tier}_timeline.csv"
    matches_path  = f"{BASE_PATH}/{tier}_matches.csv"

    if not os.path.exists(timeline_path):
        print(f"[SKIP] {tier} timeline ÏóÜÏùå")
        continue

    print(f"[LOAD] {tier}")

    timeline = pd.read_csv(timeline_path)
    matches  = pd.read_csv(matches_path)

    winner_team = (
        matches[matches["win"] == 1]
        .rename(columns={"teamId": "winnerTeamId"})[["matchId", "winnerTeamId"]]
    )

    df = timeline.merge(winner_team, on="matchId", how="left")
    df["win"] = (df["winnerTeamId"] == 100).astype(int)

    rows = []
    for _, row in df.iterrows():
        max_min = int(row["maxMinute"])
        for minute in range(15, max_min + 1, 5):
            suffix = f"_{minute}"
            if f"goldDiff{suffix}" not in row:
                continue

            rows.append({
                "win": row["win"],
                "goldDiff": row[f"goldDiff{suffix}"],

                "totalKillDiff": row[f"totalKillDiff{suffix}"],
                "dragonDiff": row[f"dragonDiff{suffix}"],
                "elderDiff": row[f"elderDiff{suffix}"],
                "heraldDiff": row[f"heraldDiff{suffix}"],
                "baronDiff": row[f"baronDiff{suffix}"],
                "atakhanDiff": row[f"atakhanDiff{suffix}"],
                "grubDiff": row[f"grubDiff{suffix}"],

                # Íµ¨Ï°∞Î¨ºÏùÄ Î∞©Ìñ• Î≥¥Ï†ï
                "outerTowerDiff": -row[f"outerTowerDiff{suffix}"],
                "innerTowerDiff": -row[f"innerTowerDiff{suffix}"],
                "baseTowerDiff":  -row[f"baseTowerDiff{suffix}"],
            })

    major_tier = get_major_tier(tier)
    tier_long_dfs[major_tier].append(pd.DataFrame(rows))


# ===============================
# 4. ÎåÄÎ∂ÑÎ•ò Ìã∞Ïñ¥ Îã®ÏúÑÎ°ú Î∂ÑÏÑù
# ===============================
all_results = []

for major_tier, df_list in tier_long_dfs.items():
    tier_df = pd.concat(df_list, ignore_index=True)

    for metric, bin_size in METRICS.items():
        result = analyze_metric(tier_df, major_tier, metric, bin_size)
        all_results.append(result)


# ===============================
# 5. ÏµúÏ¢Ö Í≤∞Í≥º
# ===============================
final_df = pd.concat(all_results, ignore_index=True)

print("\n=== Ï†Ñ Ìã∞Ïñ¥(ÎåÄÎ∂ÑÎ•ò) √ó ÏßÄÌëú √ó diff_bin ÏäπÎ•† ÎπÑÍµê ===")
display(final_df.sort_values(["metric", "tier", "diff_bin"]))

[LOAD] IRON_I
[LOAD] IRON_II
[LOAD] IRON_III
[LOAD] IRON_IV
[LOAD] BRONZE_I
[LOAD] BRONZE_II
[LOAD] BRONZE_III
[LOAD] BRONZE_IV
[LOAD] SILVER_I
[LOAD] SILVER_II
[LOAD] SILVER_III
[LOAD] SILVER_IV
[LOAD] GOLD_I
[LOAD] GOLD_II
[LOAD] GOLD_III
[LOAD] GOLD_IV
[LOAD] PLATINUM_I
[LOAD] PLATINUM_II
[LOAD] PLATINUM_III
[LOAD] PLATINUM_IV
[LOAD] EMERALD_I
[LOAD] EMERALD_II
[LOAD] EMERALD_III
[LOAD] EMERALD_IV
[LOAD] DIAMOND_I
[LOAD] DIAMOND_II
[LOAD] DIAMOND_III
[LOAD] DIAMOND_IV
[LOAD] MASTER
[LOAD] GRANDMASTER
[LOAD] CHALLENGER

=== Ï†Ñ Ìã∞Ïñ¥(ÎåÄÎ∂ÑÎ•ò) √ó ÏßÄÌëú √ó diff_bin ÏäπÎ•† ÎπÑÍµê ===

            tier         metric  diff_bin  win_rate  num_samples
300       BRONZE    atakhanDiff      -1.0  0.295603        16035
301       BRONZE    atakhanDiff       0.0  0.521245        49305
302       BRONZE    atakhanDiff       1.0  0.746264        15390
1572  CHALLENGER    atakhanDiff      -1.0  0.309917         4840
1573  CHALLENGER    atakhanDiff       0.0  0.528595        23780
...          ...            ...       ...       ...          ...
441       SILVER  totalKillDiff      22.0  1.000000          155
442       SILVER  totalKillDiff      23.0  0.933333          150
443       SILVER  totalKillDiff      24.0  1.000000          135
444       SILVER  totalKillDiff      25.0  1.000000          110
445       SILVER  totalKillDiff      26.0  1.000000           90

[1600 rows x 5 columns]

# Í≤∞Í≥º ÌååÏùº ÏÉùÏÑ±

In [17]:
import os

# ===============================
# Ï†ÄÏû• ÎîîÎ†âÌÑ∞Î¶¨ ÏÉùÏÑ±
# ===============================
BASE_DIR = "../../data/analysis/tier"
os.makedirs(BASE_DIR, exist_ok=True)

# ===============================
# CSV Ï†ÄÏû•
# ===============================
final_df.to_csv(
    os.path.join(BASE_DIR, "tier_metric_winrate.csv"),
    index=False,
    encoding="utf-8-sig"
)

print("Ï†ÄÏû• ÏôÑÎ£å: data/analysis/tier/tier_metric_winrate.csv")

Ï†ÄÏû• ÏôÑÎ£å: data/analysis/tier/tier_metric_winrate.csv

# Ìã∞Ïñ¥ Ï∞®Ïù¥ Î∂ÑÏÑù

In [36]:
import pandas as pd

# ==================================================
# 1. CSV Î°úÎìú
# ==================================================
final_df = pd.read_csv(
    "../../data/analysis/tier/tier_metric_winrate.csv",
    encoding="utf-8-sig"
)

# ==================================================
# 2. Ìã∞Ïñ¥ ÏàúÏÑú Ï†ïÏùò
# ==================================================
TIER_ORDER = [
    "IRON", "BRONZE", "SILVER", "GOLD",
    "PLATINUM", "EMERALD", "DIAMOND",
    "MASTER", "GRANDMASTER", "CHALLENGER"
]

final_df["tier"] = pd.Categorical(
    final_df["tier"],
    categories=TIER_ORDER,
    ordered=True
)

# ==================================================
# 3. grubDiff Î≤îÏúÑ Í∞ïÏ†ú Ï†úÌïú (-3 ~ +3)
# ==================================================
final_df = final_df[
    ~(
        (final_df["metric"] == "grubDiff") &
        ((final_df["diff_bin"] < -3) | (final_df["diff_bin"] > 3))
    )
]

# ==================================================
# 4. metric Î™©Î°ù
# ==================================================
metrics = final_df["metric"].unique()

# ==================================================
# 5. metricÎ≥Ñ Pivot ÌÖåÏù¥Î∏î ÏÉùÏÑ±
# ==================================================
pivot_tables = {}

for metric in metrics:
    metric_df = final_df[final_df["metric"] == metric].copy()

    if metric_df.empty:
        continue

    pivot = (
        metric_df
        .pivot(
            index="tier",        # Ìñâ: Ìã∞Ïñ¥
            columns="diff_bin",  # Ïó¥: diff Í∞í
            values="win_rate"    # Í∞í: ÏäπÎ•†
        )
        .sort_index()           # Ìã∞Ïñ¥ ÏàúÏÑú
        .sort_index(axis=1)     # diff_bin Ïò§Î¶ÑÏ∞®Ïàú
    )

    pivot_tables[metric] = pivot

# ==================================================
# 6. Ï∂úÎ†•
# ==================================================
for metric, table in pivot_tables.items():
    print(f"\n=== Tier √ó {metric} ÏäπÎ•† ÎπÑÍµê ===")
    display(table.round(3))

=== Tier √ó goldDiff ÏäπÎ•† ÎπÑÍµê ===

diff_bin,-16000.0,-15000.0,-14500.0,-14000.0,-13500.0,-13000.0,-12500.0,-12000.0,-11500.0,-11000.0,...,10000.0,10500.0,11000.0,11500.0,12000.0,12500.0,13000.0,13500.0,14000.0,14500.0
tier,,,,,,,,,,,,,,,,,,,,,
IRON,0.0,NaN,NaN,0.000,0.000,0.000,0.000,0.025,0.000,0.058,...,0.978,1.000,0.978,1.000,0.955,1.000,1.0,1.0,1.0,NaN
BRONZE,NaN,0.0,0.0,0.000,0.000,0.000,0.042,0.024,0.038,0.000,...,1.000,0.947,1.000,0.980,0.950,1.000,1.0,1.0,NaN,NaN
SILVER,NaN,NaN,0.0,0.000,0.000,0.000,0.000,0.000,0.020,0.016,...,0.978,0.987,1.000,1.000,1.000,0.962,1.0,1.0,1.0,NaN
GOLD,NaN,0.0,0.0,0.062,0.000,0.077,0.000,0.000,0.023,0.000,...,0.988,0.985,1.000,1.000,1.000,1.000,1.0,1.0,1.0,1.0
PLATINUM,NaN,0.0,0.0,0.000,0.056,0.056,0.000,0.026,0.000,0.014,...,1.000,1.000,1.000,0.977,1.000,1.000,1.0,1.0,1.0,NaN
EMERALD,NaN,NaN,0.0,0.062,0.000,0.038,0.053,0.000,0.017,0.034,...,0.986,1.000,0.977,0.973,1.000,0.957,1.0,NaN,1.0,NaN
DIAMOND,NaN,NaN,0.0,0.000,0.000,0.000,0.000,0.000,0.023,0.000,...,0.984,1.000,0.956,0.971,0.964,1.000,1.0,NaN,NaN,NaN
MASTER,NaN,NaN,0.0,0.000,0.000,0.000,0.031,0.000,0.029,0.000,...,0.973,1.000,1.000,1.000,0.960,1.000,1.0,1.0,NaN,NaN
GRANDMASTER,NaN,NaN,NaN,NaN,0.000,NaN,0.053,0.000,0.000,0.000,...,1.000,0.968,1.000,0.969,1.000,1.000,NaN,1.0,NaN,NaN
CHALLENGER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.042,0.000,...,1.000,1.000,0.952,0.958,NaN,1.000,NaN,NaN,NaN,NaN

=== Tier √ó totalKillDiff ÏäπÎ•† ÎπÑÍµê ===

diff_bin,-27.0,-26.0,-25.0,-24.0,-23.0,-22.0,-21.0,-20.0,-19.0,-18.0,...,18.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0
tier,,,,,,,,,,,,,,,,,,,,,
IRON,0.091,0.0,0.083,0.111,0.156,0.119,0.055,0.099,0.065,0.061,...,0.969,0.965,0.922,0.982,0.974,0.977,1.000,0.957,0.920,1.0
BRONZE,0.000,NaN,0.053,0.048,0.000,0.023,0.022,0.038,0.054,0.042,...,0.957,0.936,0.957,0.960,0.844,0.972,0.955,1.000,0.882,NaN
SILVER,0.100,NaN,0.050,0.000,0.000,0.000,0.036,0.035,0.083,0.067,...,0.897,0.951,1.000,0.981,1.000,0.933,1.000,1.000,1.000,NaN
GOLD,NaN,NaN,NaN,0.000,0.000,0.037,0.000,0.056,0.048,0.039,...,0.929,0.948,0.945,0.938,0.969,0.973,0.947,1.000,NaN,NaN
PLATINUM,NaN,0.0,0.000,0.000,0.000,0.000,0.024,0.016,0.065,0.101,...,0.951,0.982,0.968,0.979,0.968,1.000,0.933,NaN,1.000,NaN
EMERALD,NaN,NaN,NaN,0.000,0.053,0.040,0.023,0.050,0.033,0.065,...,0.981,0.934,0.964,0.953,0.972,0.950,1.000,NaN,NaN,NaN
DIAMOND,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.023,0.034,0.034,...,0.961,0.942,0.978,1.000,0.917,1.000,NaN,NaN,1.000,NaN
MASTER,NaN,NaN,NaN,NaN,0.000,0.000,0.032,0.027,0.047,0.029,...,0.926,0.981,1.000,1.000,0.938,1.000,1.000,0.938,NaN,NaN
GRANDMASTER,NaN,NaN,NaN,0.000,NaN,0.000,0.077,0.000,0.074,0.000,...,0.846,0.966,0.944,0.889,1.000,1.000,NaN,NaN,NaN,NaN
CHALLENGER,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.059,0.053,0.038,...,0.844,0.897,1.000,0.958,NaN,0.818,NaN,NaN,NaN,NaN

=== Tier √ó dragonDiff ÏäπÎ•† ÎπÑÍµê ===

diff_bin      -4.0   -3.0   -2.0   -1.0    0.0    1.0    2.0    3.0    4.0
tier
IRON         0.126  0.188  0.306  0.389  0.505  0.664  0.761  0.829  0.850
BRONZE       0.093  0.167  0.280  0.401  0.530  0.653  0.764  0.857  0.907
SILVER       0.129  0.184  0.286  0.403  0.520  0.644  0.753  0.891  0.939
GOLD         0.061  0.159  0.282  0.405  0.533  0.667  0.783  0.883  0.918
PLATINUM     0.138  0.179  0.280  0.409  0.526  0.647  0.789  0.866  0.874
EMERALD      0.091  0.165  0.280  0.397  0.548  0.655  0.745  0.823  0.848
DIAMOND      0.082  0.163  0.303  0.398  0.543  0.665  0.773  0.864  0.900
MASTER       0.089  0.184  0.310  0.414  0.559  0.684  0.774  0.864  0.943
GRANDMASTER  0.214  0.198  0.311  0.457  0.581  0.676  0.758  0.798  0.825
CHALLENGER   0.098  0.211  0.340  0.454  0.596  0.693  0.761  0.815  0.789

=== Tier √ó elderDiff ÏäπÎ•† ÎπÑÍµê ===

diff_bin      -1.0    0.0    1.0
tier
IRON         0.415  0.515  0.688
BRONZE       0.280  0.520  0.667
SILVER       0.306  0.507  0.658
GOLD         0.476  0.513  0.455
PLATINUM     0.375  0.504  0.587
EMERALD      0.184  0.489  0.500
DIAMOND      0.435  0.500  0.538
MASTER       0.286  0.511  0.667
GRANDMASTER    NaN  0.519  0.545
CHALLENGER     NaN  0.522    NaN

=== Tier √ó heraldDiff ÏäπÎ•† ÎπÑÍµê ===

diff_bin      -1.0    0.0    1.0
tier
IRON         0.385  0.522  0.632
BRONZE       0.384  0.523  0.640
SILVER       0.376  0.516  0.619
GOLD         0.371  0.520  0.617
PLATINUM     0.365  0.506  0.614
EMERALD      0.321  0.498  0.602
DIAMOND      0.352  0.506  0.601
MASTER       0.345  0.520  0.614
GRANDMASTER  0.376  0.529  0.601
CHALLENGER   0.375  0.531  0.596

=== Tier √ó baronDiff ÏäπÎ•† ÎπÑÍµê ===

diff_bin      -3.0   -2.0   -1.0    0.0    1.0    2.0   3.0
tier
IRON           NaN  0.285  0.288  0.519  0.737  0.731   NaN
BRONZE       0.364  0.338  0.313  0.522  0.712  0.769   NaN
SILVER       0.250  0.255  0.259  0.512  0.732  0.720   NaN
GOLD         0.462  0.331  0.277  0.515  0.718  0.707   0.7
PLATINUM       NaN  0.303  0.295  0.503  0.723  0.717   NaN
EMERALD        NaN  0.340  0.279  0.489  0.678  0.667   NaN
DIAMOND        NaN  0.372  0.282  0.500  0.698  0.689   NaN
MASTER         NaN  0.343  0.300  0.512  0.698  0.700   NaN
GRANDMASTER    NaN  0.435  0.286  0.521  0.689  0.542   NaN
CHALLENGER     NaN  0.423  0.292  0.524  0.668  0.529   NaN

=== Tier √ó atakhanDiff ÏäπÎ•† ÎπÑÍµê ===

diff_bin      -1.0    0.0    1.0
tier
IRON         0.280  0.516  0.768
BRONZE       0.296  0.521  0.746
SILVER       0.291  0.515  0.716
GOLD         0.299  0.515  0.737
PLATINUM     0.289  0.505  0.732
EMERALD      0.244  0.496  0.698
DIAMOND      0.282  0.502  0.717
MASTER       0.275  0.516  0.724
GRANDMASTER  0.310  0.527  0.677
CHALLENGER   0.310  0.529  0.685

=== Tier √ó grubDiff ÏäπÎ•† ÎπÑÍµê ===

diff_bin      -3.0   -2.0   -1.0    0.0    1.0    2.0    3.0
tier
IRON         0.435  0.486  0.416  0.506  0.530  0.669  0.620
BRONZE       0.433  0.557  0.427  0.509  0.547  0.564  0.602
SILVER       0.430  0.451  0.456  0.484  0.563  0.455  0.571
GOLD         0.440  0.430  0.447  0.523  0.523  0.565  0.580
PLATINUM     0.420  0.304  0.457  0.484  0.522  0.572  0.579
EMERALD      0.422  0.490  0.434  0.471  0.481  0.371  0.562
DIAMOND      0.404  0.423  0.438  0.413  0.511  0.478  0.587
MASTER       0.377    NaN  0.474    NaN  0.529    NaN  0.601
GRANDMASTER  0.401    NaN  0.455    NaN  0.563    NaN  0.597
CHALLENGER   0.393    NaN  0.509    NaN  0.608    NaN  0.576

=== Tier √ó outerTowerDiff ÏäπÎ•† ÎπÑÍµê ===

diff_bin      -3.0   -2.0   -1.0   -0.0    1.0    2.0    3.0
tier
IRON         0.076  0.141  0.267  0.509  0.744  0.887  0.943
BRONZE       0.072  0.141  0.274  0.518  0.744  0.844  0.928
SILVER       0.083  0.143  0.293  0.491  0.723  0.854  0.925
GOLD         0.069  0.148  0.297  0.493  0.714  0.877  0.932
PLATINUM     0.095  0.150  0.263  0.493  0.742  0.853  0.947
EMERALD      0.054  0.136  0.257  0.489  0.700  0.839  0.916
DIAMOND      0.091  0.155  0.286  0.491  0.702  0.845  0.910
MASTER       0.087  0.151  0.285  0.489  0.707  0.861  0.931
GRANDMASTER  0.073  0.146  0.278  0.510  0.714  0.851  0.923
CHALLENGER   0.075  0.171  0.275  0.514  0.709  0.820  0.922

=== Tier √ó innerTowerDiff ÏäπÎ•† ÎπÑÍµê ===

diff_bin      -3.0   -2.0   -1.0   -0.0    1.0    2.0    3.0
tier
IRON         0.096  0.169  0.269  0.519  0.729  0.824  0.916
BRONZE       0.092  0.173  0.289  0.523  0.720  0.796  0.904
SILVER       0.101  0.174  0.276  0.512  0.710  0.779  0.897
GOLD         0.093  0.171  0.294  0.514  0.712  0.804  0.892
PLATINUM     0.098  0.170  0.297  0.498  0.723  0.830  0.921
EMERALD      0.083  0.147  0.255  0.488  0.689  0.812  0.923
DIAMOND      0.105  0.198  0.282  0.492  0.696  0.828  0.918
MASTER       0.090  0.178  0.250  0.508  0.712  0.842  0.926
GRANDMASTER  0.066  0.139  0.260  0.518  0.743  0.813  0.874
CHALLENGER   0.084  0.149  0.273  0.518  0.756  0.817  0.850

=== Tier √ó baseTowerDiff ÏäπÎ•† ÎπÑÍµê ===

diff_bin      -3.0   -2.0   -1.0   -0.0    1.0    2.0    3.0
tier
IRON         0.132  0.167  0.238  0.511  0.778  0.883  0.946
BRONZE       0.110  0.144  0.244  0.520  0.772  0.842  0.904
SILVER       0.189  0.126  0.219  0.511  0.749  0.830  0.824
GOLD         0.134  0.169  0.219  0.512  0.761  0.870  0.901
PLATINUM     0.087  0.141  0.224  0.500  0.789  0.873  0.921
EMERALD      0.082  0.120  0.183  0.487  0.750  0.830  0.923
DIAMOND      0.136  0.106  0.219  0.497  0.778  0.815  0.944
MASTER       0.156  0.124  0.207  0.510  0.792  0.851  0.900
GRANDMASTER  0.261  0.086  0.207  0.516  0.808  0.850  0.794
CHALLENGER   0.083  0.134  0.191  0.522  0.797  0.785  0.870

In [37]:
import pandas as pd
import os

# ==================================================
# 1. CSV Î°úÎìú
# ==================================================
final_df = pd.read_csv(
    "../../data/analysis/tier/tier_metric_winrate.csv",
    encoding="utf-8-sig"
)

# ==================================================
# 2. Ìã∞Ïñ¥ ÏàúÏÑú Ï†ïÏùò
# ==================================================
TIER_ORDER = [
    "IRON", "BRONZE", "SILVER", "GOLD",
    "PLATINUM", "EMERALD", "DIAMOND",
    "MASTER", "GRANDMASTER", "CHALLENGER"
]

final_df["tier"] = pd.Categorical(
    final_df["tier"],
    categories=TIER_ORDER,
    ordered=True
)

# ==================================================
# 3. grubDiff Î≤îÏúÑ Í∞ïÏ†ú Ï†úÌïú (-3 ~ +3)
# ==================================================
final_df = final_df[
    ~(
        (final_df["metric"] == "grubDiff") &
        ((final_df["diff_bin"] < -3) | (final_df["diff_bin"] > 3))
    )
]

# ==================================================
# 4. metric Î™©Î°ù
# ==================================================
metrics = final_df["metric"].unique()

# ==================================================
# 5. Ï†ÄÏû• ÎîîÎ†âÌÑ∞Î¶¨ ÏÉùÏÑ±
# ==================================================
OUTPUT_DIR = "../../data/analysis/tier/metrics"
os.makedirs(OUTPUT_DIR, exist_ok=True)

# ==================================================
# 6. metricÎ≥Ñ Pivot ÌÖåÏù¥Î∏î ÏÉùÏÑ± + Ï†ÄÏû•
# ==================================================
for metric in metrics:
    metric_df = final_df[final_df["metric"] == metric].copy()

    if metric_df.empty:
        continue

    pivot = (
        metric_df
        .pivot(
            index="tier",        # Ìñâ: Ìã∞Ïñ¥
            columns="diff_bin",  # Ïó¥: diff Í∞í
            values="win_rate"    # Í∞í: ÏäπÎ•†
        )
        .sort_index()           # Ìã∞Ïñ¥ ÏàúÏÑú
        .sort_index(axis=1)     # diff_bin Ïò§Î¶ÑÏ∞®Ïàú
    )

    # ===============================
    # CSV Ï†ÄÏû•
    # ===============================
    output_path = os.path.join(
        OUTPUT_DIR,
        f"tier_{metric}_winrate_pivot.csv"
    )

    pivot.to_csv(output_path, encoding="utf-8-sig")

    # ===============================
    # Ï∂úÎ†•
    # ===============================
    print(f"\n=== Tier √ó {metric} ÏäπÎ•† ÎπÑÍµê ===")
    print(f"[SAVE] {output_path}")
    display(pivot.round(3))

=== Tier √ó goldDiff ÏäπÎ•† ÎπÑÍµê ===
[SAVE] ../../data/analysis/tier/metrics\tier_goldDiff_winrate_pivot.csv

diff_bin,-16000.0,-15000.0,-14500.0,-14000.0,-13500.0,-13000.0,-12500.0,-12000.0,-11500.0,-11000.0,...,10000.0,10500.0,11000.0,11500.0,12000.0,12500.0,13000.0,13500.0,14000.0,14500.0
tier,,,,,,,,,,,,,,,,,,,,,
IRON,0.0,NaN,NaN,0.000,0.000,0.000,0.000,0.025,0.000,0.058,...,0.978,1.000,0.978,1.000,0.955,1.000,1.0,1.0,1.0,NaN
BRONZE,NaN,0.0,0.0,0.000,0.000,0.000,0.042,0.024,0.038,0.000,...,1.000,0.947,1.000,0.980,0.950,1.000,1.0,1.0,NaN,NaN
SILVER,NaN,NaN,0.0,0.000,0.000,0.000,0.000,0.000,0.020,0.016,...,0.978,0.987,1.000,1.000,1.000,0.962,1.0,1.0,1.0,NaN
GOLD,NaN,0.0,0.0,0.062,0.000,0.077,0.000,0.000,0.023,0.000,...,0.988,0.985,1.000,1.000,1.000,1.000,1.0,1.0,1.0,1.0
PLATINUM,NaN,0.0,0.0,0.000,0.056,0.056,0.000,0.026,0.000,0.014,...,1.000,1.000,1.000,0.977,1.000,1.000,1.0,1.0,1.0,NaN
EMERALD,NaN,NaN,0.0,0.062,0.000,0.038,0.053,0.000,0.017,0.034,...,0.986,1.000,0.977,0.973,1.000,0.957,1.0,NaN,1.0,NaN
DIAMOND,NaN,NaN,0.0,0.000,0.000,0.000,0.000,0.000,0.023,0.000,...,0.984,1.000,0.956,0.971,0.964,1.000,1.0,NaN,NaN,NaN
MASTER,NaN,NaN,0.0,0.000,0.000,0.000,0.031,0.000,0.029,0.000,...,0.973,1.000,1.000,1.000,0.960,1.000,1.0,1.0,NaN,NaN
GRANDMASTER,NaN,NaN,NaN,NaN,0.000,NaN,0.053,0.000,0.000,0.000,...,1.000,0.968,1.000,0.969,1.000,1.000,NaN,1.0,NaN,NaN
CHALLENGER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.042,0.000,...,1.000,1.000,0.952,0.958,NaN,1.000,NaN,NaN,NaN,NaN

=== Tier √ó totalKillDiff ÏäπÎ•† ÎπÑÍµê ===
[SAVE] ../../data/analysis/tier/metrics\tier_totalKillDiff_winrate_pivot.csv

diff_bin,-27.0,-26.0,-25.0,-24.0,-23.0,-22.0,-21.0,-20.0,-19.0,-18.0,...,18.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0
tier,,,,,,,,,,,,,,,,,,,,,
IRON,0.091,0.0,0.083,0.111,0.156,0.119,0.055,0.099,0.065,0.061,...,0.969,0.965,0.922,0.982,0.974,0.977,1.000,0.957,0.920,1.0
BRONZE,0.000,NaN,0.053,0.048,0.000,0.023,0.022,0.038,0.054,0.042,...,0.957,0.936,0.957,0.960,0.844,0.972,0.955,1.000,0.882,NaN
SILVER,0.100,NaN,0.050,0.000,0.000,0.000,0.036,0.035,0.083,0.067,...,0.897,0.951,1.000,0.981,1.000,0.933,1.000,1.000,1.000,NaN
GOLD,NaN,NaN,NaN,0.000,0.000,0.037,0.000,0.056,0.048,0.039,...,0.929,0.948,0.945,0.938,0.969,0.973,0.947,1.000,NaN,NaN
PLATINUM,NaN,0.0,0.000,0.000,0.000,0.000,0.024,0.016,0.065,0.101,...,0.951,0.982,0.968,0.979,0.968,1.000,0.933,NaN,1.000,NaN
EMERALD,NaN,NaN,NaN,0.000,0.053,0.040,0.023,0.050,0.033,0.065,...,0.981,0.934,0.964,0.953,0.972,0.950,1.000,NaN,NaN,NaN
DIAMOND,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.023,0.034,0.034,...,0.961,0.942,0.978,1.000,0.917,1.000,NaN,NaN,1.000,NaN
MASTER,NaN,NaN,NaN,NaN,0.000,0.000,0.032,0.027,0.047,0.029,...,0.926,0.981,1.000,1.000,0.938,1.000,1.000,0.938,NaN,NaN
GRANDMASTER,NaN,NaN,NaN,0.000,NaN,0.000,0.077,0.000,0.074,0.000,...,0.846,0.966,0.944,0.889,1.000,1.000,NaN,NaN,NaN,NaN
CHALLENGER,NaN,NaN,NaN,NaN,NaN,0.000,0.000,0.059,0.053,0.038,...,0.844,0.897,1.000,0.958,NaN,0.818,NaN,NaN,NaN,NaN

=== Tier √ó dragonDiff ÏäπÎ•† ÎπÑÍµê ===
[SAVE] ../../data/analysis/tier/metrics\tier_dragonDiff_winrate_pivot.csv

diff_bin      -4.0   -3.0   -2.0   -1.0    0.0    1.0    2.0    3.0    4.0
tier
IRON         0.126  0.188  0.306  0.389  0.505  0.664  0.761  0.829  0.850
BRONZE       0.093  0.167  0.280  0.401  0.530  0.653  0.764  0.857  0.907
SILVER       0.129  0.184  0.286  0.403  0.520  0.644  0.753  0.891  0.939
GOLD         0.061  0.159  0.282  0.405  0.533  0.667  0.783  0.883  0.918
PLATINUM     0.138  0.179  0.280  0.409  0.526  0.647  0.789  0.866  0.874
EMERALD      0.091  0.165  0.280  0.397  0.548  0.655  0.745  0.823  0.848
DIAMOND      0.082  0.163  0.303  0.398  0.543  0.665  0.773  0.864  0.900
MASTER       0.089  0.184  0.310  0.414  0.559  0.684  0.774  0.864  0.943
GRANDMASTER  0.214  0.198  0.311  0.457  0.581  0.676  0.758  0.798  0.825
CHALLENGER   0.098  0.211  0.340  0.454  0.596  0.693  0.761  0.815  0.789

=== Tier √ó elderDiff ÏäπÎ•† ÎπÑÍµê ===
[SAVE] ../../data/analysis/tier/metrics\tier_elderDiff_winrate_pivot.csv

diff_bin      -1.0    0.0    1.0
tier
IRON         0.415  0.515  0.688
BRONZE       0.280  0.520  0.667
SILVER       0.306  0.507  0.658
GOLD         0.476  0.513  0.455
PLATINUM     0.375  0.504  0.587
EMERALD      0.184  0.489  0.500
DIAMOND      0.435  0.500  0.538
MASTER       0.286  0.511  0.667
GRANDMASTER    NaN  0.519  0.545
CHALLENGER     NaN  0.522    NaN

=== Tier √ó heraldDiff ÏäπÎ•† ÎπÑÍµê ===
[SAVE] ../../data/analysis/tier/metrics\tier_heraldDiff_winrate_pivot.csv

diff_bin      -1.0    0.0    1.0
tier
IRON         0.385  0.522  0.632
BRONZE       0.384  0.523  0.640
SILVER       0.376  0.516  0.619
GOLD         0.371  0.520  0.617
PLATINUM     0.365  0.506  0.614
EMERALD      0.321  0.498  0.602
DIAMOND      0.352  0.506  0.601
MASTER       0.345  0.520  0.614
GRANDMASTER  0.376  0.529  0.601
CHALLENGER   0.375  0.531  0.596

=== Tier √ó baronDiff ÏäπÎ•† ÎπÑÍµê ===
[SAVE] ../../data/analysis/tier/metrics\tier_baronDiff_winrate_pivot.csv

diff_bin      -3.0   -2.0   -1.0    0.0    1.0    2.0   3.0
tier
IRON           NaN  0.285  0.288  0.519  0.737  0.731   NaN
BRONZE       0.364  0.338  0.313  0.522  0.712  0.769   NaN
SILVER       0.250  0.255  0.259  0.512  0.732  0.720   NaN
GOLD         0.462  0.331  0.277  0.515  0.718  0.707   0.7
PLATINUM       NaN  0.303  0.295  0.503  0.723  0.717   NaN
EMERALD        NaN  0.340  0.279  0.489  0.678  0.667   NaN
DIAMOND        NaN  0.372  0.282  0.500  0.698  0.689   NaN
MASTER         NaN  0.343  0.300  0.512  0.698  0.700   NaN
GRANDMASTER    NaN  0.435  0.286  0.521  0.689  0.542   NaN
CHALLENGER     NaN  0.423  0.292  0.524  0.668  0.529   NaN

=== Tier √ó atakhanDiff ÏäπÎ•† ÎπÑÍµê ===
[SAVE] ../../data/analysis/tier/metrics\tier_atakhanDiff_winrate_pivot.csv

diff_bin      -1.0    0.0    1.0
tier
IRON         0.280  0.516  0.768
BRONZE       0.296  0.521  0.746
SILVER       0.291  0.515  0.716
GOLD         0.299  0.515  0.737
PLATINUM     0.289  0.505  0.732
EMERALD      0.244  0.496  0.698
DIAMOND      0.282  0.502  0.717
MASTER       0.275  0.516  0.724
GRANDMASTER  0.310  0.527  0.677
CHALLENGER   0.310  0.529  0.685

=== Tier √ó grubDiff ÏäπÎ•† ÎπÑÍµê ===
[SAVE] ../../data/analysis/tier/metrics\tier_grubDiff_winrate_pivot.csv

diff_bin      -3.0   -2.0   -1.0    0.0    1.0    2.0    3.0
tier
IRON         0.435  0.486  0.416  0.506  0.530  0.669  0.620
BRONZE       0.433  0.557  0.427  0.509  0.547  0.564  0.602
SILVER       0.430  0.451  0.456  0.484  0.563  0.455  0.571
GOLD         0.440  0.430  0.447  0.523  0.523  0.565  0.580
PLATINUM     0.420  0.304  0.457  0.484  0.522  0.572  0.579
EMERALD      0.422  0.490  0.434  0.471  0.481  0.371  0.562
DIAMOND      0.404  0.423  0.438  0.413  0.511  0.478  0.587
MASTER       0.377    NaN  0.474    NaN  0.529    NaN  0.601
GRANDMASTER  0.401    NaN  0.455    NaN  0.563    NaN  0.597
CHALLENGER   0.393    NaN  0.509    NaN  0.608    NaN  0.576

=== Tier √ó outerTowerDiff ÏäπÎ•† ÎπÑÍµê ===
[SAVE] ../../data/analysis/tier/metrics\tier_outerTowerDiff_winrate_pivot.csv

diff_bin      -3.0   -2.0   -1.0   -0.0    1.0    2.0    3.0
tier
IRON         0.076  0.141  0.267  0.509  0.744  0.887  0.943
BRONZE       0.072  0.141  0.274  0.518  0.744  0.844  0.928
SILVER       0.083  0.143  0.293  0.491  0.723  0.854  0.925
GOLD         0.069  0.148  0.297  0.493  0.714  0.877  0.932
PLATINUM     0.095  0.150  0.263  0.493  0.742  0.853  0.947
EMERALD      0.054  0.136  0.257  0.489  0.700  0.839  0.916
DIAMOND      0.091  0.155  0.286  0.491  0.702  0.845  0.910
MASTER       0.087  0.151  0.285  0.489  0.707  0.861  0.931
GRANDMASTER  0.073  0.146  0.278  0.510  0.714  0.851  0.923
CHALLENGER   0.075  0.171  0.275  0.514  0.709  0.820  0.922

=== Tier √ó innerTowerDiff ÏäπÎ•† ÎπÑÍµê ===
[SAVE] ../../data/analysis/tier/metrics\tier_innerTowerDiff_winrate_pivot.csv

diff_bin      -3.0   -2.0   -1.0   -0.0    1.0    2.0    3.0
tier
IRON         0.096  0.169  0.269  0.519  0.729  0.824  0.916
BRONZE       0.092  0.173  0.289  0.523  0.720  0.796  0.904
SILVER       0.101  0.174  0.276  0.512  0.710  0.779  0.897
GOLD         0.093  0.171  0.294  0.514  0.712  0.804  0.892
PLATINUM     0.098  0.170  0.297  0.498  0.723  0.830  0.921
EMERALD      0.083  0.147  0.255  0.488  0.689  0.812  0.923
DIAMOND      0.105  0.198  0.282  0.492  0.696  0.828  0.918
MASTER       0.090  0.178  0.250  0.508  0.712  0.842  0.926
GRANDMASTER  0.066  0.139  0.260  0.518  0.743  0.813  0.874
CHALLENGER   0.084  0.149  0.273  0.518  0.756  0.817  0.850

=== Tier √ó baseTowerDiff ÏäπÎ•† ÎπÑÍµê ===
[SAVE] ../../data/analysis/tier/metrics\tier_baseTowerDiff_winrate_pivot.csv

diff_bin      -3.0   -2.0   -1.0   -0.0    1.0    2.0    3.0
tier
IRON         0.132  0.167  0.238  0.511  0.778  0.883  0.946
BRONZE       0.110  0.144  0.244  0.520  0.772  0.842  0.904
SILVER       0.189  0.126  0.219  0.511  0.749  0.830  0.824
GOLD         0.134  0.169  0.219  0.512  0.761  0.870  0.901
PLATINUM     0.087  0.141  0.224  0.500  0.789  0.873  0.921
EMERALD      0.082  0.120  0.183  0.487  0.750  0.830  0.923
DIAMOND      0.136  0.106  0.219  0.497  0.778  0.815  0.944
MASTER       0.156  0.124  0.207  0.510  0.792  0.851  0.900
GRANDMASTER  0.261  0.086  0.207  0.516  0.808  0.850  0.794
CHALLENGER   0.083  0.134  0.191  0.522  0.797  0.785  0.870